PHP_XDEBUG_MODE=debug
PHP_XDEBUG_START_WITH_REQUEST=yes
PHP_XDEBUG_SESSION=PHPSTORM
PHP_XDEBUG_CLIENT_PORT=10000
PHP_XDEBUG_OUTPUT_DIR=/var/www/ubitransport-microservices.project.local/htdocs/current/xdebug_logs
