{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Migrations",
            "Kernel.php"
        ]
    },
    "logs": {
        "text": "infection.log",
        "json": "infection-log.json"
    },
    "mutators": {
        "@default": true
    },
    "timeout": 120
}
